nz-header {
    background: #fff;
    box-shadow: 2px 2px 2px rgb(205, 205, 205);
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content {
    padding: 0 50px;
    margin-top: 10px;
    min-height: 100vh;
}

nz-footer {
    text-align: center;
}

nz-tag {
    margin-left: 10px;
    font-size: 16px;
    padding: 6px;
}

th {
    text-align: left !important;
}

.inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
    margin-top: 50px;
    border-radius: 4px;
    box-shadow: 3px 3px 4px rgb(205, 205, 205);
}

.titlePage {
    font-size: 24px;
    font-weight: bold;
    color: rgb(8, 84, 44);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.pagination {
    margin: 16px 0;
    display: flex;
    justify-content: flex-end;
}

button {
    margin-right: 8px;
}

.searchUser {
    margin: 20px 0;
    padding: 12px;
    display: flex;
}

.searchTitle {
    margin-right: 18px;
    font-weight: 600;
    font-size: 18px;
}

.chat-container {
    max-width: 70%;
    margin: 0 auto;
}

.messages {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}


.message {
    padding: 5px;
    margin: 5px 0;
    border-bottom: 1px solid #eee;
}

nz-input-group {
    width: 100%;
    box-shadow: 0 0 10px #ccc;
}

.tvvItem {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.listTVV {
    border-radius: 8px;
    box-shadow: 0 0 10px #ccc;
    padding: 20px;
}

.avatar {
    margin-right: 10px;
}

.titleTVV {
    font-size: 16px;
    font-weight: 500;
    padding: 8px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
}

::ng-deep .ant-menu-item {
    padding: 0 !important;
}

.sent {
    background-color: #dcf8c6;
    align-self: flex-end;
    text-align: right;
    display: inline;
    border-radius: 8px;
    padding: 8px;

}

.received {
    background-color: #f1f0f0;
    align-self: flex-start;
    text-align: left;
    display: inline;
    border-radius: 8px;
    padding: 8px;
}