<nz-layout>
  <nz-header>
    <app-header></app-header>
  </nz-header>
  <nz-content>
    <app-nav-bar routerNav="shedule-history"></app-nav-bar>
    <div class="inner-content">
      <div class="titlePage">
        Tra cứu lịch khám
      </div>
      <div class="tableService">
        <div class="orderItem" *ngFor="let shedule of listOfData">
          <div class="orderTitle">
            <div class="title1">
              Mã lịch khám: {{shedule.examinationScheduleId}}
              <div class="orderDate">Đặt khám ngày: {{shedule.day | date: 'dd/MM/yyyy HH:mm'}}</div>
            </div>
            <div class="orderStatus" [ngStyle]="{ 'color': shedule.doctor ? 'rgb(25, 218, 35)' : 'rgb(221, 53, 28)' }">
              Bác sỹ: {{shedule.doctor ? shedule.doctor.name : 'Chưa có bác sỹ'}}
              <div class="zoom">{{shedule.doctor ? shedule.doctor.positon : ''}}</div>
            </div>
          </div>
          <div class="orderService">
            <nz-table #basicTable [nzData]="shedule.service" [nzFrontPagination]="false" [nzShowPagination]="false">
              <thead>
                <tr>
                  <th>Tên dịch vụ</th>
                  <th >Chuyên khoa</th>
                  <th nzWidth="200px">Giá tiền</th>
                  <th>Ngày khám</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="shedule.service">
                  <td>{{ shedule.service.name }}</td>
                  <td >{{ shedule.service.specialist.name }}</td>
                  <td nzWidth="200px">{{ shedule.service.price | priceFormat }}</td>
                  <td>{{shedule.day | date: 'dd/MM/yyyy HH:mm'}}</td>
                </tr>
              </tbody>
            </nz-table>
            <div class="btn-Delete">
              <button nz-button nzDanger nzType="primary" (click)="confirmDelete(shedule.examinationScheduleId)">Hủy lịch khám</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>

