<nz-layout>
    <nz-header>
        <app-doctor-header></app-doctor-header>
    </nz-header>
    <nz-content nz-row>
        <app-dortor-nav-bar routerNav="sheduleConfig" isSub="sub1" class="navBar" nz-col [nzSpan]="4"></app-dortor-nav-bar>
        <div nz-col [nzSpan]="1"></div>
        <div nz-col [nzSpan]="19" class="inner-content">
            <div class="titlePage">
                Cấu hình lịch trình làm việc của bác sỹ
                <button nz-button nzType="primary" (click)="createSheduleDoctor()" ><span nz-icon nzType="plus"
                    nzTheme="outline"></span> Đăng ký</button>
            </div>
            <div>
                <nz-table #basicTable [nzData]="sheduleDoctor" nzBordered [nzFrontPagination]="false">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Ngày</th>
                            <th>Thời gian bắt đầu</th>
                            <th>Thời gian kết thúc</th>
                            <th nzColumnKey="status" [nzFilters]="filterStatus" [nzFilterFn]="true" [nzFilterMultiple]="false" (nzFilterChange)="onQueryParamsChange($event)">Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of basicTable.data ; let index = index">
                            <td>{{ index + 1 }}</td>
                            <td>{{data.day | date: 'dd/MM/yyyy'}}</td>
                            <td>{{ data.startTime }}</td>
                            <td>{{ data.endTime }}</td>
                            <td>
                                <nz-tag *ngIf="data.status === '-1'" nzColor="error">Từ chối</nz-tag>
                                <nz-tag *ngIf="data.status === '0'" nzColor="processing">Đang duyệt</nz-tag>
                                <nz-tag *ngIf="data.status === '1'" nzColor="success">Đã duyệt</nz-tag>
                            </td>
                            <td>
                                <button nz-button nzDanger nzType="primary" (click)="confirmDelete(data)">Xóa</button>
                            </td>
                        </tr>
                    </tbody>
                </nz-table>
                <div class="pagination">
                    <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="total" [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="changePageIndex($event)"></nz-pagination>
                    <ng-template #rangeTemplate let-range="range" let-total>
                        {{ range[0] }}-{{ range[1] }} of {{ total }} doctor
                      </ng-template>
                </div>
            </div>
        </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>

<nz-modal [(nzVisible)]="isCreate" nzTitle="Đăng ký lịch làm việc" (nzOnCancel)="closeEdit()" [nzFooter]="modalFooterEdit"
    [nzStyle]="{'width': '80%'}">
    <ng-container *nzModalContent>
        <form nz-form nz-row nzJustify="start" [formGroup]="sheduleForm">
            <nz-form-item nz-col [nzSpan]="12">
                <div nz-row>
                    <nz-form-label nz-col [nzSpan]="6" nzRequired>Ngày: </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="14" nzErrorTip="Ngày không được để trống">
                        <nz-date-picker formControlName="day" nzFormat="dd/MM/yyyy"></nz-date-picker>
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item nz-col [nzSpan]="12">
                <div nz-row>
                    <nz-form-label nz-col [nzSpan]="6" nzRequired>Thời gian bắt đầu: </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="14" nzErrorTip="Thơi gian không được để trống">
                        <nz-time-picker formControlName="startTime" nzFormat="HH:mm"></nz-time-picker>
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item nz-col [nzSpan]="12">
                <div nz-row>
                    <nz-form-label nz-col [nzSpan]="6" nzRequired>Thời gian kết thúc: </nz-form-label>
                    <nz-form-control nz-col [nzSpan]="14" nzErrorTip="Thời gian không được để trống">
                        <nz-time-picker formControlName="endTime" nzFormat="HH:mm"></nz-time-picker>
                    </nz-form-control>
                </div>
            </nz-form-item>
        </form>
    </ng-container>
    <ng-template #modalFooterEdit>
        <button nz-button nzType="primary" (click)="createShudele()">OK</button>
        <button nz-button nzType="default" (click)="closeEdit()">Hủy</button>
    </ng-template>
</nz-modal>