<nz-layout>
  <nz-header>
    <app-header></app-header>
  </nz-header>
  <nz-content>
    <app-nav-bar routerNav="service"></app-nav-bar>
    <div class="inner-content">
      <div class="titlePage">Tra cứu dịch vụ khám</div>
      <div class="searchUser">
        <div class="searchItem">
            <div class="searchTitle">Tìm kiếm</div>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton" style="width: 400px;">
                <input type="text" nz-input placeholder="Mã dịch vụ/Tên dịch vụ" [(ngModel)]="inputSearch"
                    (keyup.enter)="searchUser()" />
            </nz-input-group>
            <ng-template #suffixIconButton>
                <button nz-button nzType="primary" nzSearch><span nz-icon nzType="search"
                        (click)="searchUser()"></span></button>
            </ng-template>
        </div>
        <div class="searchItem">
            <div class="searchLabel">Khoa</div>
            <div class="searchInput">
                <nz-select nzPlaceHolder="Chọn khoa" [(ngModel)]="specialistItem"
                    (ngModelChange)="onSpecialistChange($event)">
                    <nz-option *ngFor="let specialist of specialistList" [nzLabel]="specialist.name"
                        [nzValue]="specialist.id">
                    </nz-option>
                </nz-select>
            </div>
        </div>
    </div>
      <nz-table #basicTable [nzData]="listOfData" [nzBordered]="true" [nzShowPagination]="false" [nzScroll]="{ y: '40vh', x: '100vw' }">
        <thead>
          <tr>
            <th nzWidth="60px">STT</th>
            <th>Mã dịch vụ</th>
            <th [colSpan]="2">Tên dịch vụ</th>
            <th>Khoa</th>
            <th>Giá tiền</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data ; let index = index">
            <td>{{ pageSize*(pageIndex - 1 ) + index + 1 }}</td>
            <td>{{ data.serviceId }}</td>
            <td [colSpan]="2">{{ data.name }}</td>
            <td>{{ data.specialist.name }}</td>
            <td>{{ data.price | priceFormat }}</td>
            <td>
              <a routerLink="/schedule/{{data.serviceId}}">Đặt lịch ngay</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <div class="pagination">
        <nz-pagination [nzPageIndex]="pageIndex" [nzPageSize]="pageSize" [nzTotal]="total"
            [nzShowTotal]="rangeTemplate" (nzPageIndexChange)="changePageIndex($event)"></nz-pagination>
        <ng-template #rangeTemplate let-range="range" let-total>
            {{ range[0] }}-{{ range[1] }} of {{ total }} dịch vụ
        </ng-template>
    </div>
    </div>
  </nz-content>
  <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>