[nz-menu] {
    line-height: 64px;
}
nz-header {
    background: #fff;
    box-shadow: 2px 2px 2px rgb(205, 205, 205);
}

nz-content {
    padding: 0 50px;
    margin-top: 10px;
    height: 100vh;
}

nz-footer {
    text-align: center;
}

nz-form-item{
    margin: 8px 0;
}
nz-date-picker{
    width: 100%;
}
.btn-Default{
    border-radius: 4px;
    background-color: rgb(8, 84, 44);
    border: none;
    font-size: 18px;
    color: white;
}
.inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
}
td{
    font-size: 18px;
}
.btn-changeInfo{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
::ng-deep .ant-descriptions-title{
    font-size: 24px;
}
::ng-deep .ant-descriptions-view td{
    font-size: 18px;
}
.userInfo{
    background: #fff;
    padding: 24px;
    min-height: 280px;
    /* margin-top: 50px; */
    border-radius: 4px;
    box-shadow: 3px 3px 4px rgb(205, 205, 205);
}