<nz-layout>
    <nz-header>
        <app-header></app-header>
    </nz-header>
    <nz-content>
        <div class="userInfo">
            <nz-descriptions nzTitle="Thông tin cá nhân" nzBordered>
                <nz-descriptions-item nzTitle="Username">{{user.username}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Email" [nzSpan]="2">
                    {{user.email}}
                </nz-descriptions-item>
                <nz-descriptions-item nzTitle="UserId">{{user.userId}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Họ và tên" [nzSpan]="2">{{user.name}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Số điện thoại">{{user.phoneNumber}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Giới tính">{{user.gender}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Ngày sinh">{{user.birthday | date: 'dd/MM/yyyy'}}</nz-descriptions-item>
                <nz-descriptions-item nzTitle="Địa chỉ" [nzSpan]="3">{{user.address}}</nz-descriptions-item>
            </nz-descriptions>
            <nz-button-group class="btn-changeInfo">
                <button nz-button class="btn-Default" nzType="primary" nzSize="large" (click)="showModal()">Chỉnh sửa
                    thông tin</button>
            </nz-button-group>
        </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>

<nz-modal nzWidth="50%" [(nzVisible)]="isChangeInfo" nzTitle="Thông tin cá nhân" [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()">
    <ng-container *nzModalContent>
        <form nz-form nz-row nzJustify="start" [formGroup]="validateFormRegister">
            <nz-form-item nz-col [nzSpan]="12">
                <div nz-row>
                    <nz-form-label nz-col [nzSpan]="8" nzRequired>Username</nz-form-label>
                    <nz-form-control nz-col [nzSpan]="15" nzValidatingTip="Validating...">
                        <input nz-input formControlName="username" />
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item nz-col [nzSpan]="12">
                <div nz-row>
                    <nz-form-label nz-col [nzSpan]="9" nzRequired>UserId</nz-form-label>
                    <nz-form-control nz-col [nzSpan]="15" nzValidatingTip="Validating...">
                        <input nz-input formControlName="userId" />
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item nz-col [nzSpan]="24">
                <div nz-row nzJustify="start">
                    <nz-form-label [nzSpan]="4" nzRequired>E-mail</nz-form-label>
                    <nz-form-control [nzSpan]="20">
                        <input nz-input formControlName="email" placeholder="email" type="email" />
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item nz-col [nzSpan]="12">
                <div nz-row>
                    <nz-form-label [nzSpan]="8" nzRequired>Họ và tên</nz-form-label>
                    <nz-form-control [nzSpan]="15">
                        <input nz-input formControlName="name" />
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item nz-col [nzSpan]="12">
                <div nz-row>
                    <nz-form-label [nzSpan]="9" nzRequired>SĐT</nz-form-label>
                    <nz-form-control [nzSpan]="15">
                        <input nz-input formControlName="phoneNumber" type="number" />
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item nz-col [nzSpan]="12">
                <div nz-row>
                    <nz-form-label [nzSpan]="8" nzRequired>Ngày sinh</nz-form-label>
                    <nz-form-control [nzSpan]="15">
                        <nz-date-picker formControlName="birthday" nzPlaceHolder="Chọn ngày sinh" nzFormat="dd/MM/yyyy"></nz-date-picker>
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item nz-col [nzSpan]="12">
                <div nz-row>
                    <nz-form-label [nzSpan]="9" nzRequired>Giới tính</nz-form-label>
                    <nz-form-control [nzSpan]="15">
                        <nz-radio-group formControlName="gender">
                            <label nz-radio nzValue="Male">Nam</label>
                            <label nz-radio nzValue="Female">Nữ</label>
                        </nz-radio-group>
                    </nz-form-control>
                </div>
            </nz-form-item>
            <nz-form-item nz-col [nzSpan]="24">
                <div nz-row nzJustify="start">
                    <nz-form-label [nzSpan]="4" nzRequired>Địa chỉ</nz-form-label>
                    <nz-form-control [nzSpan]="20">
                        <input nz-input formControlName="address" type="text" />
                    </nz-form-control>
                </div>
            </nz-form-item>
        </form>
    </ng-container>
    <ng-template #modalFooter>
        <button nz-button nzType="primary" nzDanger (click)="handleCancel()">Hủy</button>
        <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Thay đổi</button>
    </ng-template>
</nz-modal>