<nz-layout>
    <nz-header>
        <app-header></app-header>
    </nz-header>
    <nz-content>
        <app-nav-bar routerNav="home"></app-nav-bar>
        <div class="inner-content">
            <div class="titlePage">Chuyên Khoa Phụ Sản</div>
            <div nz-row>
                <div class="conent" nz-col nzSpan="18">
                    <p>Khoa Sản đi vào hoạt động từ những ngày đầu tiên thành lập và trở thành một trong những chuyên
                        khoa trọng yếu, thế mạnh của phòng khám trong suốt hơn 24 năm qua. Cơ sở vật chất hiện đại, đội
                        ngũ bác sĩ chuyên khoa đầu ngành đến từ các bệnh viện lớn như: Phụ sản Hà Nội, Phụ sản Trung
                        Ương,... cùng chế độ chăm sóc chuyên nghiệp, tận tâm. Khoa Sản đã và đang là địa chỉ uy tín được
                        các chị em lựa chọn để chăm sóc thai kỳ, điều trị các bệnh lý phụ khoa, kế hoạch hóa gia đình.
                        Với phương châm mang tới các dịch vụ chất lượng, trong suốt thời gian qua, Khoa Sản không ngừng
                        mở rộng, hiện đại hóa giúp khách hàng trải nghiệm các dịch vụ y tế chất lượng cao.</p>

                    <h2>1. Dịch vụ tại Chuyên Khoa Sản</h2>
                    <ul>
                        <li>Cung cấp dịch vụ thai sản: Thăm khám, theo dõi và quản lý thai kì;</li>
                        <li>Thăm khám, tư vấn, điều trị hiệu quả các bệnh phụ khoa như: Viêm âm đạo, viêm lộ tuyến cổ tử
                            cung, viêm cổ tử cung, nấm sinh dục, các bệnh lây nhiễm qua đường tình dục...</li>
                        <li>Thăm khám, tư vấn, điều trị các bệnh nam khoa như: Viêm tinh hoàn, các bệnh lây nhiễm qua
                            đường tình dục, nấm sinh dục,...</li>
                        <li>Khám tư vấn sức khỏe tiền hôn nhân;</li>
                        <li>Kế hoạch hóa gia đình bằng nhiều phương pháp an toàn, hiệu quả cao như: Đặt vòng, cấy que
                            tránh thai, đình chỉ thai;</li>
                        <li>Cung cấp gói khám phụ khoa từ cơ bản đến nâng cao...</li>
                    </ul>

                    <h2>2. Đội ngũ Bác sĩ Chuyên Khoa</h2>
                    <p>Đội ngũ Bác sĩ Chuyên Khoa giỏi chuyên môn - giàu kinh nghiệm trong lĩnh vực khám điều trị, hiện
                        đang công tác ở các Bệnh viện lớn như: Phụ sản Hà Nội, Phụ sản Trung Ương...</p>

                    <h2>3. Cơ sở vật chất - Trang thiết bị</h2>
                    <p>Phòng khám luôn chú trọng đầu tư các trang thiết bị hiện đại nhằm phục vụ quá trình thăm khám
                        điều trị tại khoa Sản: Máy soi cổ tử cung thế hệ mới, máy đốt lazer, hệ thống máy siêu âm hiện
                        đại, máy theo dõi nhịp tim thai,… Tất cả các máy móc tại Khoa Sản đều được nhập khẩu từ các nước
                        đi đầu về kĩ thuật nên đảm bảo chất lượng và đem lại kết quả chính xác.</p>
                </div>
                <div class="listDoctor" nz-col nzSpan="5" nzOffset="1">
                    <div class="title">Đội ngũ bác sĩ chuyên khoa</div>
                    <div nz-row class="content">
                        <div nz-col class="doctorItem" *ngFor="let doctor of doctorList">
                            <div class="doctorAvatar">
                                <nz-avatar nzIcon="user" style="background-color:rgb(8, 84, 44);"></nz-avatar>
                            </div>
                            <div class="doctorName">{{doctor.name}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>