nz-header {
    background: #fff;
    box-shadow: 2px 2px 2px rgb(205, 205, 205);
    display: flex;
    align-items: center;
}

nz-breadcrumb {
    margin: 16px 0;
}

nz-content {
    padding: 0 50px;
    margin-top: 10px;
    min-height: 100vh;
}

nz-footer {
    text-align: center;
}

button {
    border-radius: 4px;
    background-color: rgb(8, 84, 44);
    border: none;
    font-size: 18px;
    color: white;
}

.navBar {
    min-height: 100vh;
    background: white;
}

.inner-content {
    background: #fff;
    padding: 24px;
    min-height: 280px;
    /* margin-top: 50px; */
    border-radius: 4px;
    box-shadow: 3px 3px 4px rgb(205, 205, 205);
}

.titlePage {
    font-size: 24px;
    font-weight: bold;
    color: rgb(8, 84, 44);
    margin-bottom: 20px;
}
.change-password{
    width: 50%;
}