<nz-layout>
    <nz-header>
        <app-doctor-header></app-doctor-header>
    </nz-header>
    <nz-content nz-row>
        <app-dortor-nav-bar routerNav="profile" class="navBar" isSub="sub3" nz-col [nzSpan]="4"></app-dortor-nav-bar>
        <div nz-col [nzSpan]="1"></div>
        <div nz-col [nzSpan]="19" class="inner-content">
            <h2 class="titlePage" >Đổi mật khẩu</h2>
            <div class="change-password">
                <form nz-form [formGroup]="validateForm" class="login-form" nz-col (ngSubmit)="submitForm()">
                    <ng-container >
                        <nz-form-item nz-margin="0 10px 0 0">
                            <nz-form-control nzErrorTip="Mật khẩu không được bỏ trống!">
                                <nz-input-group nzPrefixIcon="lock" [nzSuffix]="suffixTemplate">
                                    <input type="{{ passwordVisible ? 'text' : 'password' }}" nzSize="large" nz-input formControlName="currentPassword"
                                    placeholder="Mật khẩu hiện tại" />
                                </nz-input-group>
                            </nz-form-control>
                            <ng-template #suffixTemplate>
                                <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                    (click)="passwordVisible = !passwordVisible"></span>
                            </ng-template>
                        </nz-form-item>
                        <nz-form-item nz-margin="0 10px 0 0">
                            <nz-form-control nzErrorTip="Mật khẩu không được bỏ trống!">
                                <nz-input-group nzPrefixIcon="key" [nzSuffix]="suffixTemplate">
                                    <input type="{{ passwordVisible ? 'text' : 'password' }}" nzSize="large" nz-input formControlName="newPassword"
                                    placeholder="Mật khẩu mới" />
                                </nz-input-group>
                            </nz-form-control>
                            <ng-template #suffixTemplate>
                                <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                    (click)="passwordVisible = !passwordVisible"></span>
                            </ng-template>
                        </nz-form-item>
                        <nz-form-item nz-margin="0 10px 0 0">
                            <nz-form-control nzErrorTip="Mật khẩu không được bỏ trống!">
                                <nz-input-group nzPrefixIcon="key" [nzSuffix]="suffixTemplate">
                                    <input type="{{ passwordVisible ? 'text' : 'password' }}" nzSize="large" nz-input formControlName="confirmPassword"
                                    placeholder="Nhập lại mật khẩu" />
                                </nz-input-group>
                            </nz-form-control>
                            <ng-template #suffixTemplate>
                                <span nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
                                    (click)="passwordVisible = !passwordVisible"></span>
                            </ng-template>
                        </nz-form-item>
                        <button nz-button class="login-form-button login-form-margin " nzSize="large" nz-margin="0 10px 0 0"
                            nzType="primary">Submit</button>
                    </ng-container>
                </form>
            </div>
        </div>
    </nz-content>
    <nz-footer>Ant Design ©2020 Implement By Angular</nz-footer>
</nz-layout>